<div class="container-fluid">
  <div class="row">
    <div class="text">
      <p>Ma már egy minőségi <b>műanyag bejárati ajtó</b> funkcionalitásában és időtállóságában egyaránt vetekszik fa
        társaival</p>
    </div>
    <div class="advance">
      <p>Műanyag bejárati ajtó legfőbb előnyei:</p>
      <ul>
        <li>különböző hő-és hangszigetelő képességű modellek közül választhat az Ön igényeinek megfelelően</li>
        <li>műanyag bejárati ajtóink többféle stílusban, üvegezve vagy anélkül, számos kialakításban és
          színkombinációban kaphatóak, így szinte csak a fantázia szabhat gátat elképzeléseinek
        </li>
        <li>az erős igénybevételnek is jól ellenállnak</li>
        <li>nem igényelnek különösebb felületi karbantartást, tisztításuk rendkívül egyszerű</li>
      </ul>
      <p>Akárcsak a műanyag ablakoknál, itt is érdemes figyelembe venni számos tulajdonságot és tényezőt, mielőtt
        kiválasztanánk a tökéletes, igényeinknek 100%-ban megfelelő műanyag bejárati ajtónkat</p>
    </div>
    <div class="main-point" data-aos="fade-left" data-aos-duration="1000">
      <div class="title">
        Főbb szempontok a műanyag bejárati ajtó esetében:
      </div>
      <p><b>Profil:</b> 71,76 és 80 mm-es beépítési mélységű modellek közül választhat</p>
      <p><b>Pántok:</b> Optimum, Balance és Synego modelljeink is leemelést gátló ajtópántokkal vannak felszerelve,
        fokozva a biztonságot</p>
      <p><b>Vasalat:</b> a műanyag bejárati ajtó egyik központi része, ugyanis ez teszi lehetővé magát a működtetést.
        Integrált többpontos zár és biztonsági vasalat beépítésével még tovább növelhető a betörésbiztonság</p>
      <p><b>Zárszerkezet:</b> többféle extra zármodul közül is választhat, melyek tovább fokozhatják nyugalmát és
        biztonságérzetét. (kampós, kampós-csapos, csapos és háromnyelves modulok) A MABISZ által minősített rúdzár
        garantálja a kimagasló mechanikai és fizikai védelmet</p>
      <p><b>Üveg:</b> nem csak esztétikai funkciót lát el. Műanyag bejárati ajtóink rendelhetőek ragasztott biztonsági
        üveggel is, mely extra védelmet biztosít az illetéktelen behatolókkal szemben. Küszöbmagasság: műanyag bejárati
        ajtóink 19 mm-es, akadálymentes küszöbbel vannak ellátva, régi és új épületekhez egyaránt kiváló választás</p>
    </div>
  </div>
</div>
