<div class="container-fluid">
  <h2>Technológia:</h2>
  <p>Kérem tekintse meg bemutatkozó kisfilmünket: Nyílászáróink korszerű német technológiával, minőségi
    alapanyagokból készülnek, annak érdekében hogy a legszigorúbb követelményeknek is megfeleljenek.</p>
  <p>Ide jönne a videó csak nem elérhető!</p>
  <br>
  <hr/>
  <br>
  <div class="row">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/profil-darabolas.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Profilok darabolása</span></div>
          <p>A profilok darabolása egy CNC vezérelt, német technológián alapuló folyamat, amelynek során a 6,5
            méteres szálban érkező tok- és szárnyprofilok méretre vágása történik. A módszer rendkívül hatékony, az
            automatizált működésnek köszönhetően pedig képes megnövelni a termelékenységet úgy, hogy a precizitás –
            ezáltal a nagyfokú méret és vágási szög pontossága – folyamatosan elsődleges szempontként jelenik
            meg.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <hr/>
  <br>
  <div class="row">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/profil-megmunkalas.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Profil megmunkálás</span></div>
          <p>A profilmegmunkálás során az előző munkafolyamatban méretre vágott anyag kerül megmunkálásra és így
            kimarják többek között a kilincsfuratokat, valamint a dekompressziós-, és párakivezető nyílásokat. A
            rendkívül pontos, szintén német technológián alapuló, CNC vezérelt folyamat során kerülnek rögzítésre a
            merevítő vasak, a bejárati ajtók esetében pedig a teljes megmunkálás is ekkor zajlik.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <hr/>
  <br>
  <div class="row">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/hegesztes.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Hegesztés</span></div>
          <p>A méretre vágott és megmunkált profildarabokat a hegesztés során a sarkoknál összeolvasztják így a négy
            darabból összeáll a tok, illetve a szárnykeret. A német technológia okán a precizitás itt is prioritást
            élvez, így a sarokillesztések rendkívül pontosak, a megengedett tolerancia maximum fél milliméter.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <hr/>
  <br>
  <div class="row">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/varrattisztitas.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Varrattisztítás</span></div>
          <p>A varrattisztítás során a sarkok összeolvasztásánál keletkezett és megszilárdult olvadék kerül
            eltávolításra, ami CNC vezérlés mellett zajlik, a varratok rendkívül pontos és esztétikus
            eltüntetésével.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <hr/>
  <br>
  <div class="row">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/sarok-elofuras.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Sarok és ollócsapágy előfúrása</span></div>
          <p>Ebben a munkafolyamatban a sarok- és ollócsapágy előfúrása történik, amelynek köszönhetően az ablaktok
            előkészítésre kerül a pántok felhelyezésére.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <hr/>
  <br>
  <div class="row">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/szarnyvasalas.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Szárnyvasalás</span></div>
          <p>Az ablakszárnyakat ebben a szakaszban a záródáshoz szükséges vasalat elemekkel látják el.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <hr/>
  <br>
  <div class="row">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/tokvasalas.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Tokvasalás</span></div>
          <p>Tokvasalás során magát az ablaktokot is felszerelik a szükséges vasalat elemekkel.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <hr/>
  <br>
  <div class="row">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/uvegszorito-lecek-darabolas.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Üvegszorító lécek darabolása</span></div>
          <p>Az üvegszorító lécek darabolása CNC vezérelt technológián alapszik, amelynek során az üvegek rögzítéséhez
            szükséges – alapesetben hat méteres szálban érkező – lécek kerülnek méretre vágásra. A munkafolyamatnak ezen
            a részén fontosak a pontos vágási szögek, illetve a pontos léchosszúság is.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <hr/>
  <br>
  <div class="row">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/uvegezes.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Üvegezés</span></div>
          <p>Az üvegezés során az üveg keretbe illesztése mellett behelyezésre kerülnek a korábban méretre vágott
            üvegszorító lécek.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
</div>
