<div class="container-fluid">
  <div class="row-logo">
    <img style="width: fit-content;" src="assets/images/atenad-logo-large.png">
  </div>
  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/reluxa.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Reluxa</span></div>
          <p>A "Reluxa" az egyik legnépszerűbb és legrégebben elterjedt árnyékoló, mely az évek alatt a változó
            igényeket figyelembe véve képes volt mindig megújulni és korszerűbb típusokkal megjelenni a piacon. A
            legújabb ISOLINE típuús reluxa modern kinézető tokszerkezetével tökéletesen illeszkedik az ablakhoz.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/szalagfuggony.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Szalagfüggöny</span></div>
          <p>A "Reluxa" az egyik legnépszerűbb és legrégebben elterjedt árnyékoló, mely az évek alatt a változó
            igényeket figyelembe véve képes volt mindig megújulni és korszerűbb típusokkal megjelenni a piacon. A
            legújabb ISOLINE típuús reluxa modern kinézető tokszerkezetével tökéletesen illeszkedik az ablakhoz.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/roletta.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Roletta</span></div>
          <p>A világon szinte az egyik legősíbb árnyékoló. A hagyományos rugós rendszeren kívül manapság már gyöngy
            húzású, illetve motoros változatban is rendelhető. Az impregnált textíliából készült vászon, fényáteresztő
            és fényzáró tulajdonsággal rendelkezik, reflexiós változata eredményesen alkalmazható a nagyon erős
            napsugárzásnak kitett ablakok belső árnyékolására is.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/savrolo.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Sávroló</span></div>
          <p>A textilek felületén sötétítő és fényáteresztő csíkok váltják egy- mást, így a két egymást követő sáv
            segítségével szabályoz- hatjuk a beáramló fény mennyiségét és az átláthatóságot. Ha kedvünk tartja, akár
            teljesen betekerhetjük a textilt a tok- ba. A sávroló tökéletes megoldás lakások, irodák, közintézmé- nyek
            praktikus és esztétikus belső árnyékolására.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/la-pliss.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Pliszé ablakárnyékoló</span></div>
          <p>A "Lapliss" fantázianevű, plisszé rendszerű textil árnyékoló, bármilyen típusú nyílászáró rendszerhez
            ajánlható, legyen az akár fix, nyíló/bukó ablak, tolóajtó, esetleg tetőtéri nyílászáró. Esztétikai
            megjelenése, praktikus és könnyű kezelhetősége, egyszerű telepítése méltán teszi ügyfélbarát termékké. Az
            eddig megszokott belső árnyékolók (reluxák, roletták) rögzítése mindig csavarok alkalmazásával történt, ám
            az új árnyékoló rendszerünk nyílászáróhoz történő rögzítése nem igényli a nyílászárók felületének
            megfúrását. Ennek oka, hogy a Lapliss árnyékolók univerzális konzolok segítségével telepíthetők a
            nyílászáró üvegfelületére, vagy a nyílászáró üvegszorító lécének gumikédere alá. A rögzítő konzolok a
            felszerelés után nem látszanak, így tovább növelik a termék esztétikai megjelenését.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <br>
</div>
