.container-fluid{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand{
  margin-left: 3%;
}

.arajanlat{
  background-color: rgb(87,87,90);
  padding: 2%;
  color: white;
  font-size: larger;
}

.trapezoid {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 46% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 46% 100%);
  padding-left: 30%;
  border: solid #eb1d25 ;
}










