<div class="container-fluid">
  <div class="img-fluid">
    <img src="assets/images/real-1-large.jpg">
  </div>
  <div class="row">
    <div class="card-group">
      <div class="card">
        <h5 class="card-title">VISION 76</h5>
        <div class="card-body">
          <img class="card-img-top" src="assets/images/vision-76-ablak-large.jpg" alt="VISION 76">
          <button class="btn-grad " (click)="openDialog('v76')">Részletek</button>
        </div>
      </div>
      <div class="card">
        <h5 class="card-title">REHAU DESIGN 70</h5>
        <div class="card-body">
          <img class="card-img-top" src="assets/images/rehau-euro-design-70.jpg" alt="REHAU DESIGN 70">
          <button class="btn-grad " (click)="openDialog('rd70')">Részletek</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-group">
        <div class="card">
          <h5 class="card-title">ELEGANT 76</h5>
          <div class="card-body">
            <img class="card-img-top" src="assets/images/elegant-76-2.jpg" alt="ELEGANT 76">
            <button class="btn-grad " (click)="openDialog('e76')">Részletek</button>
          </div>
        </div>
        <div class="card" >
          <h5 class="card-title">REHAU SYNEGO 80</h5>
          <div class="card-body">
            <img class="card-img-top" src="assets/images/synego-ablakprofil-2.jpg" alt="REHAU SYNEGO 80">
            <button class="btn-grad " (click)="openDialog('rs80')">Részletek</button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>

</div>


