<div class="container-fluid">
  <div class="tab">
    <button class="tablinks" (click)="openCity($event, 'main')" id="defaultOpen">Főoldal</button>
    <button class="tablinks" (click)="openCity($event, 'windows-prod')">Műanyag ablak gyártása</button>
    <button class="tablinks" (click)="openCity($event, 'windows')">Műanyag ablakok</button>
    <app-tab-banner></app-tab-banner>
  </div>

  <div id="main" class="tabcontent">
    <h1 style="color: #737c84">Főoldal</h1>
    <app-main-tab></app-main-tab>
    <br>
  </div>

  <div id="windows-prod" class="tabcontent">
    <h1 style="color: #737c84">Műanyag nyílászárók gyártása</h1>
    <app-plastic-page></app-plastic-page>
    <br>
  </div>

  <div id="windows" class="tabcontent">
    <h1 style="color: #737c84">Műanyag ablakok</h1>
    <app-windows></app-windows>
  </div>
</div>


