<div class="container-fluid">
  <div class="row">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/tmp683A-large.png">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Szellőzés</span></div>
            <p>Légbevezetők a párásodás és penészesedés elkerüléséhez vagy gázkészülékek légellátásához. </p>
            <p><b>A légbevezetők előnyei:</b></p>
            <ul>
              <li>Higroszabályozás: a belső relatív páratartalomtól függően nyitják zsaluikat</li>
              <li>Hangcsillapított változatok, a külső forrásból származó zajok csillapítására</li>
              <li>A nem lezárható kivitelek gondoskodnak a gázkészülékek légellátásáról</li>
              <li>Automatikusan és folyamatosan szabályozzák a légcserét</li>
              <li>Megelőzik a páralecsapódást és penészesedést</li>
              <li>Építéskor vagy akár utólag is elhelyezhetők</li>
              <li>Biztosítják a megfelelő levegő minőséget</li>
              <li>Minimalizálják a szellőzési hőveszteséget</li>
              <li>Segédenergiát nem igényelnek</li>
              <li>ÉMI minősítéssel rendelkeznek</li>
              <li>Egyszerűen karbantarthatók</li>
              <li>Esztétikus megjelenésűek</li>
            </ul>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="row" style="font-size: larger;">
      <p>A páratartalom: meghatározó tényező</p>
      <p>A magas páratartalom hatására, a levegőben lévő nedvesség lecsapódhat a hidegebb felületeken (hőhídaknál).
        Ezért a levegő nedvességtartalmát optimális szinten (40-55 %) kell tartani, melyet páraszabályozott szellőző
        elemekkel lehet biztosítani. Gázkészülékekhez is A nem lezárható és növelt minimum hozamú légbevezetők
        szakszerű kiválasztásával és elhelyezésével (tervezői feladat) a nyílt égésterű gázkészülékek égési és
        szellőző levegőjének utánpótlása biztosítható. Ezáltal ezek a berendezések biztonságosan üzemeltethetőek.
        Légbevezetők 2/3 légbevezető páraérzékelő pántkötege Légbevezetők a belső levegőminőség javításáért A
        higroszabályozású légbevezetők beépítésével (hatékony, szabályozott levegő elvezetés mellett) megelőzhető,
        ill. megszüntethető a páralecsapodás és penészesedés! A páraszabályozott légbevezetők érzékelője és
        működtetője, azt az ismert fizikai jelenséget használja ki, hogy egyes anyagok megnyúlnak a páratartalom
        emelkedésekor és összehúzodnak, ha a levegő szárazabbá válik. Ezen az elven működik a légbevezetők V8
        érzékelőjének 8 rétegű poliamid pántkötege, amely a légbevezetőben lévő zsalut mozgatja, ezzel befolyásolva
        a szellőzőlevegő mennyiségét a mindenkori belső relatív páratartalom függvényében. A légbevezetők a
        helyiségben lévők mindenkori igényeihez igazítják a szellőzési levegőmennyiséget.</p>
      <p>Gázkészülékekhez is</p>
      <p>A nem lezárható és növelt minimum hozamú légbevezetők szakszerű kiválasztásával és elhelyezésével (tervezői
        feladat) a nyílt égésterű gázkészülékek égési és szellőző levegőjének utánpótlása biztosítható. Ezáltal ezek
        a berendezések biztonságosan üzemeltethetőek.</p>
    </div>
  </div>
</div>
