.easy {
  font-size: larger;
}

.heroal {
  font-size: larger;
}

.alu {
  font-size: larger;
}

.picture-details {
  display: flex;
  padding-left: 8%;
  padding-right: 8%;
  justify-content: space-around;
  align-items: flex-start;
}

img{
  margin-top:6%
}

li {
  margin-top: 5px;
}

.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mutart {
  padding: 2%;
  margin-left: 2%;
}

.opcio{
  padding: 2%;
  margin-left: 2%;
}


