<div class="container-fluid">
  <div class="banner-title">Forduljon hozzám bizalommal!</div>
  <div class="banner-content1"><p>Több évtizedes tapasztalatommal szeretném ha hozzájárulhatnék ahhoz, hogy megtalálja
    az Ön igényeinek leginkább
    megfelelő megoldást.</p></div>
  <div class="banner-content2">Több ezer elégedett ügyfél, több tízezer négyzetméter ablak, és ajtó.</div>
  <div class="thx">
    <div class="banner-thx">Köszönettel:</div>
    <div class="banner-name">Pásztor Tamás,<br>
      ablakcsere tanácsadó<br>
      06-70-947-1761
    </div>
  </div>
  <div class="realtherm">
    <img src="assets/images/real-large.png" width="200" height="100">
  </div>
  <div class="banner-title">Partnerünk az árnyékolásban:</div>
  <div class="realtherm">
    <img src="assets/images/atenad-logo-large.png" width="200" height="100">
  </div>
  <div class="banner-title2"><p>Minőségi Árnyékolástechnikai Termékek</p></div>
</div>
