<div class="container-fluid">
  <div class="row-logo">
    <img style="width: fit-content;" src="assets/images/atenad-logo-large.png">
  </div>
  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/fix.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Fix szúnyogháló</span></div>
          <p>Üvegszál alapú, UV stabil hálóval készül, mely kiváló minőséget és hosszú élettartamot biztosít. Olyan
            helyekre ajánljuk, ahol nem szükséges, a szúnyoghálót mozgatnunk. Fixen felszerelt, és leakasztható
            kivitelekben is készül.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/elhuzhato.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Elhúzható szúnyogháló</span></div>
          <p>Az általunk gyártott szúnyogháló rendszerekhez hasonlóan, ez a termék is üvegszál alapú, UV stabil hálóval
            készül, mely kiváló minőséget és hosszú élettartamot biztosít. A rendszer, épületének minden nyílászárójára
            telepíthető, ablakokra és ajtókra egyaránt. A lefutó sínben történő mozgást a szúnyogháló függőleges és
            vízszintes irányba végezheti.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="cardImage" src="assets/images/plisze.jpg">
        <div class="cardText">
          <div><span style="font-size: x-large; font-weight: bold;">Pliszé szúnyogháló</span></div>
          <p>A harmonikaszerűen húzható pliszé szúnyogháló mind ablakokra, mind ajtókra tökéletes megoldás. A
            rendszerrel akár hatalmas méretű nyílászárók szúnyoghálóval történő ellátása is megoldható. Maximális
            szélesség, egy oldalra történő működtetés esetén 3 méter, kétoldali működtetés esetén a szélesség akár
            megduplázható.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <br>
</div>
