<h1 mat-dialog-title style="text-transform: uppercase;">{{title}}</h1>
<mat-dialog-content class="mat-typography">
  <div class="container-fluid">
    <p>Kedvezményünk a Realtherm műanyag ablakokra és a műanyag ajtókra érvényes.</p>
    <p>Kérjen tőlünk ajánlatot ablakainak cseréjére és mi bebizonyítjuk, hogy megéri az ár-érték arányban legkiválóbb
      MAGYAR nyílászárókat választani!</p>
    <p>Az ajánlatunk 2023. Február 01-től visszavonásig érvényes.</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button class="btn-grad" mat-dialog-close>Bezár</button>
</mat-dialog-actions>

