<h1 mat-dialog-title style="text-transform: uppercase;">{{title}}</h1>
<mat-dialog-content class="mat-typography">
  <div class="v76" *ngIf="data.title==='v76'">
    <div class="container-fluid">
      <p>VISION AZ iCOR PLATFORMON</p>
      <p>A Vision profilrendszer szíve a moduláris iCOR platform. A modern dizájn jól megérti egymást a különböző
        építészeti stílusokkal. Az iCOR platformnak köszönhetően az ablakok gyártása hatékonyabb.</p>
      <div class="picture-details">
        <img src="assets/images/vision-76-ablak-large.jpg">
        <div class="details">
          <p><b>Általános termék jellemzők:</b></p>
          <ul>
            <li>Karcsú, modern dizájn</li>
            <li>TPE ütközőtömítő rendszer</li>
            <li>Fehér szín</li>
            <li><b>Tok beépítési mélysége:</b> 76 mm</li>
            <li><b>Szárny beépítési mélysége:</b> 80 mm</li>
            <li><b>Szárny kialakítása:</b> egyenes</li>
            <li>Alapkivitelben kétrétegű Ug= 1,0 W/m2K, opcióban háromrétegű Ug= 0,5 W/m2K üvegezés, kívánságra
              "melegperemmel" kombinálva
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="rd70" *ngIf="data.title==='rd70'">
    <div class="container-fluid">
      <p>Nagyszerű kilátás – nagyszerű formavilág. Az ablakprofil különösen karcsú kialakítása lehetővé teszi, hogy még
        több napfény jusson a belső terekbe, ami
        pozitív hatással van a közérzetre. Így otthona életörömmel telik meg.</p>
      <p>Hőszigetelés a kellemes klímához. A 70 mm-es beépítési mélységnek és a két tömítési síknak köszönhetően otthona
        csodálatosan meleg marad. Még
        akkor is, ha odakint vihar tombol és havazik.</p>
      <div class="picture-details">
        <img src="assets/images/rehau-euro-design-70.jpg">
        <div class="details">
          <p><b>Fő terméktulajdonságok:</b></p>
          <ul>
            <li><b>Beépítési mélység (profilvastagság):</b> 70 mm</li>
            <li><b>Üvegezés:</b> 2, vagy 3 rétegű üvegezés</li>
            <li><b>Hangszigetelés:</b> A hanggátló képesség akár 45 dB-ig emelhető, így zajos lakókörnyezetben különösen
              ajánlott
            </li>
            <li><b>Biztonság:</b> RC1 biztonsági vasalat alapáron, és akár RC2 biztonsági fokozattal is rendelhető</li>
            <li><b>Színváltozatok:</b> Több, mint 50 szín</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="e76" *ngIf="data.title==='e76'">
    <div class="container-fluid">
      <p>Prémium minőség megfizethető áron! A 6 légkamrás Elegant műanyag ablak ideális választás az Ön számára, ha új
        építésű, hőszigetelt házába keres nyílászárót, és kiemelten fontos, hogy új műanyag ablaka még a legszigorúbb
        biztonsági és hőszigetelési elvárásoknak is megfeleljen. Újrahasznosított Eco Power Core alaptestnek
        köszönhetően az alumínium ablakok környezetbarát alternatívája. A funkcionalitáson túl a design sem
        elhanyagolható szempont: derékszögben elhelyezett üveglécek, minimalista kialakítás, nagy stabilitású ablakok,
        eddig soha nem látott panoráma, és ami a legfontosabb, kiemelkedő hőszigetelés.</p>
      <div class="picture-details">
        <img src="assets/images/elegant-76-2.jpg">
        <div class="details">
          <p><b>Fő terméktulajdonságok:</b></p>
          <ul>
            <li><b>Beépítési mélység (profilvastagság):</b> 76 mm</li>
            <li><b>Üvegezés:</b> szélesebb, 2 és 3 rétegű, akár 52 mm-es üvegvastagság 20 mm. mélyen beépítve a
              profilba, mely biztosítja a párásodás elleni extra védelmet
            </li>
            <li><b>Hangszigetelés:</b> felszereltségtől függően akár 46 dB-ig fokozható
            </li>
            <li>
              <b>Hőszigetelés:</b> A műanyag ablakon körbefutó minőségi, hármas tömítés kitűnő hőszigetelést, továbbá
              fokozott
              szélállóságot és vízzárást garantál. Akár Uw=0,72 W/m2K érték is elérhető
            </li>
            <li><b>Biztonság:</b> dupla biztonsági zárócsap és zárfogadó; kiemelésgátó vasalattal felszerelve</li>
            <li><b>Szárnyprofil:</b> egyenes és íves vonalvezetésű szárnyprofil</li>
            <li><b>Színváltozatok:</b> klasszikus, fehár alapszínnel vagy 50 féle stílusos dekorfóliával</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="rs80" *ngIf="data.title==='rs80'">
    <div class="container-fluid">
      <p>Prémium minőség elérhető áron! A Synego ablak ideális választás az Ön számára, ha az optimalizált hőszigetlelés
        mellett könnyen tisztán tartható nyílászárót keres. A HDF (High Definition Finishing) formula titka a speciális
        összetétel, mely érezhetően simább és csillogóbb fehér felületet eredményez.</p>
      <div class="picture-details">
        <img src="assets/images/synego-ablakprofil-2.jpg">
        <div class="details">
          <p><b>Fő terméktulajdonságok:</b></p>
          <ul>
            <li><b>Beépítési mélység (profilvastagság):</b> 80 mm</li>
            <li><b>Üvegezés:</b> 3 rétegű üvegezés, 48 mm vastagságban
            </li>
            <li><b>Hangszigetelés:</b> A hanggátló képesség akár 46 dB-ig emelhető, így zajos lakókörnyezetben különösen ajánlott
            </li>
            <li>
              <b>Hőszigetelés:</b> Az U w -érték alu távtartós hőszigetelt üveggel 0,86 W/m 2 K, meleg peremes kialakítással 0,76 W/m 2 K
            </li>
            <li><b>Biztonság:</b> RC1 biztonsági vasalat alapáron, és akár RC2 biztonsági fokozattal is rendelhető</li>
            <li><b>Szárnyprofil:</b>  Az egyenes szárnyprofil keskeny és elegáns megjelenést kölcsönöz az ablaknak</li>
            <li><b>Színváltozatok:</b> Több, mint 50 szín, kasírozás fa-, alumínium dekorral és RAL szerinti színekben</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <img *ngIf="data.title==='v76' || data.title==='e76'" src="assets/images/deceunick-large.jpg">
  <img *ngIf="data.title==='rd70' || data.title==='rs80'" src="assets/images/rehlogo-large.jpg">
  <br>
</mat-dialog-actions>

