.v76 {
  font-size: larger;
}

.rd70 {
  font-size: larger;
}

.e76 {
  font-size: larger;
}

.rs80 {
  font-size: larger;
}

.picture-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
  flex-wrap: nowrap;
}

li {
  margin-top: 5px;
}
