<div class="container-fluid">
  <div class="row">
    <div class="picture">
      <div class="title">
        Külső tokos redőnyök
      </div>
      <img src="assets/images/94a5e.jpg" width="725">
    </div>
  </div>
  <div class="explainText">
    <p>A külső tokos redőnyök a legkeresettebb redőny típusok, mivel utólag gyakorlatilag bárhová telepíthetőek. Hatásos
      védelmet biztosítanak a felmelegedés ellen, leengedett állapotban teljes fényzárást biztosítanak.</p>
    <div class="cardGroup">
      <div class="pic1">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="assets/images/koln-tomor-large.jpg">
          </div>
          <h3 class="card-title">Köln - tömör</h3>
        </div>
      </div>
      <div class="pic2">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="assets/images/koln-1-large.jpg">
          </div>
          <h3 class="card-title">Köln Glas 1</h3>
        </div>
      </div>
      <div class="pic3">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top" src="assets/images/koln-3-large.jpg">
          </div>
          <h3 class="card-title">Köln Glas 2</h3>
        </div>
      </div>
    </div>

  </div>
</div>
