.container-fluid{
  display: flex;
  flex-direction: column;
}

.picture{
  display: flex;
  position: static;
  justify-content: flex-end;
}
.row{
  display: flex;
  justify-content: center;
}

.title{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  font-size: xx-large;
  color: white;
}

.explainText{
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
}
.explainText-belso {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
}
.cardGroup{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: stretch;
}

.card{
  width: 15.5rem;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  font-size: large;
  text-align: center;
}

.extra{
  min-width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text{
  font-weight: bold;
  font-size: larger;
  padding-left: 2%;
  text-align: justify;
  padding-right: 2%;
}

.kulso{
  display: flex;
}
.belso{
  display: flex;
}

