<div class="container-fluid" >
  <div class="row" >
    <mat-card class="home-card" >
      <mat-card-content class="home-card-content">
        <img mat-card-image src="assets/images/986b9.jpg" class="fokep">
        <div>
          <div class="main-title"><div><span style="font-size: xx-large; font-weight: bold;">Ablakcsere Budapesten, és környékén</span></div></div>
          <p><b>Köszönjük, hogy ellátogatott honlapunkra!</b></p>
          <p>2009 óta foglalkozunk műanyag nyílászárókkal. Főképpen budapesten és Pest megyében dolgozunk, de
            nagyobb projekt esetében távolabb is tudunk piacképes áron dolgozni. Nagy hangsúlyt felktetünk Ügyfeleink
            teljes körű kiszolgálására. Szolgáltatásaink a tanácsadástól kezdve a komplett kivitelezésig terjednek.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <hr/>
  <br>
  <div class="row" >
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="munyil" src="assets/images/muanyagnyilaszarok.jpg">
        <div>
          <div><span style="font-size: xx-large; font-weight: bold;">Műanyag nyílászárók</span></div>
          <p>A mai modern műanyag nyílászárók a korszerű gyártástechnológiáknak köszönhetően minden elvárásnak
            megfelelnek. Legyen az akár a tartósság, a megfelelő hővédelem, zajvédelem, betörésvédelem és a megbízható
            működés.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <div class="row"  data-aos="fade-left" data-aos-duration="1000">
    <table style="font-size: medium; padding-right: 10%; text-align: center">
      <thead>
      <th style="font-size: large; width: 30%">HŐVÉDELEM</th>
      <th style="font-size: large; width: 30%">ZAJVÉDELEM</th>
      <th style="font-size: large; width: 30%">BETÖRÉSVÉDELEM</th>
      </thead>
      <tbody>
      <tr>
        <td style="padding-left: 1%; padding-right: 1%; text-align: justify">A „köztudat” úgy tartja, a jó ablak sokkamrás profilból készül,
          robusztus nagy tokvastagsággal rendelkezik.
          Az igazság az, hogy az ész nélküli kamraszám és méret növelés nem feltét lenül javítja a nyílászáró minőségét,
          hőszigetelő képességet, sőt..., ugyanez elmondható a tok vastagságról is. Ha a nyílászárót hővédelmi
          szempontból akarjuk vizsgálni, <b>mindig a komplett szerkezet hőszigetelő képességére vonatkozó adatokat
            kérjünk!</b>
        </td>
        <td style="padding-left: 1%; padding-right: 1%; text-align: justify">Figyelembe véve, hogy egy korszerű ablak hangszigetelő képessége
          azonos üvegszerkezet esetén is jelentősen
          jobb, mint egy régi típusú szerkezet esetén ez nem tűnik fontosnak. Viszont, ha az Ön környezetében az
          átlagosnál nagyobb zajforrások vannak, érdemes erre a jellemzőre is figyelmet fordítani.
        </td>
        <td style="padding-left: 1%; padding-right: 1%; text-align: justify">Bár a nyílászárók védelmére alkalmazott rendszerek, az
          illetéktelen behatolás lehetőségét nem tudják
          teljesen kizárni, annak kockázatát azonban jelentősen csökkenthetik. A bennük rejlő lehetőségek maximális
          kiaknázásához szükséges a nyílászárók megfelelő beépítése és használata, a bukó és rés-szellőző funkcióban
          hagyott ablak megkönnyíti az illetéktelen behatolást.
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br>
  <hr/>
  <br>
  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="redony" src="assets/images/muanyag-redony.jpg">
        <div>
          <div><span style="font-size: xx-large; font-weight: bold;">Redőnyök</span></div>
          <p>A legnépszerűbb külső árnyékoló a redőny.</p>
          <p>Az "Új típusú" redőny, új minőségi kategóriát állított fel a műanyag redőnyrendszerek családjában.
            Külső megjelenését tekintve, megegyezik az alumínium redőny formavilágával. A redőnyben található alumínium
            alkatrészek alkalmazásával, nem csak a redőny tartósságát és esztétikai látványát növeltük meg, de lehetővé
            vált a redőnyrendszert szúnyoghálóval ellátni.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <hr/>
  <br>
  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="parkany" src="assets/images/parkany-2.jpg">
        <div>
          <div><span style="font-size: xx-large; font-weight: bold;">Párkányok</span></div>
          <p>A párkányok az ablakaink elengedhetetlen tartozékai. A párkányok kiválasztásánál elsődleges szempont a
            megjelenés. Fontos, hogy biztos helyet kínáljon a virágainknak, vagy akár háziállatunk is kényelmesen
            megpihenhessen rajta.</p>
          <p>Mindezeken felül elengedhetetlen, hogy a külső nyílászárók aljánál lefolyó vizet megfelelően
            elvezessék, ezáltal megakadályozva a homlokzat károsodását. Fontos szempont, hogy bármilyen párkányt is
            választunk jól tűrjék az időjárás viszontagságait.</p>

        </div>
      </mat-card-content>
    </mat-card>
    <p class="parkany-p">A legelterjedtebb párkányok műanyagból és alumíniumból készülnek. Külső párkánynak a nagyobb
      igénybevéte miatt az alumínium párkányokat javasoljuk. Belülre pedig a nagyobb komfortérzetet biztosító
      műanyag párkányokat. Mindkét típus hosszú élettartammal bír, tisztításuk pedig egyszerű.</p>
  </div>
  <br>
  <hr/>
  <br>
  <div class="row" data-aos="fade-left">
    <mat-card class="home-card">
      <mat-card-content class="home-card-content">
        <img mat-card-image class="arnyek" src="assets/images/belso-arnyekolok.jpg">
        <div>
          <div><span style="font-size: xx-large; font-weight: bold;">Belső árnyékolók</span></div>
          <p>A belső árnyékolók nagy előnye hogy segítségükkel hangulatosabbá varázsolhatjuk az otthonunkat,
            mindemellett védelmet nyújtanak a napfény káros hatásaitól és a kíváncsi tekintetek elől is megóvnak. A
            hővédelem és a helység sötétítése szempontjából kevésbé hatékony megoldások, mint a külső árnyékolók,
            viszont azoknál költséghatékonyabban telepíthetőek.</p>
          <p>Természetesen a már meglévő külső árnyékolókkal együtt használva érhetjük el a legjobb hatást. </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
<br>




