<div class="container-fluid">
  <p>Tömör és üveges betéteink ajtóinkat a lakás impozáns díszévé teszik. Könnyed eleganciájuk igen hosszú
    élettartammal, stabilitással, színtartósággal, és kitűnő biztonsági tulajdonsággal társul.</p>
  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <div class="pic1">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/rostock-tomor-large.jpg">
        </div>
        <h3 class="card-title">Rostock - tömör</h3>
      </div>
    </div>
    <div class="pic2">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/rostock-1-large.jpg">
        </div>
        <h3 class="card-title">Rostock Glas 1</h3>
      </div>
    </div>
    <div class="pic3">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/rostock-2-large.jpg">
        </div>
        <h3 class="card-title">Rostock Glas 2</h3>
      </div>
    </div>
    <div class="pic4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/rostock-large.jpg">
        </div>
        <h3 class="card-title">Rostock</h3>
      </div>
    </div>
  </div>

  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <div class="pic1">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/hamburg-tomor-large.jpg">
        </div>
        <h3 class="card-title">Hamburg - tömör</h3>
      </div>
    </div>
    <div class="pic2">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/hamburg-1-large.jpg">
        </div>
        <h3 class="card-title">Hamburg Glas 1</h3>
      </div>
    </div>
    <div class="pic3">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/hamburg-2-large.jpg">
        </div>
        <h3 class="card-title">Hamburg Glas 2</h3>
      </div>
    </div>
    <div class="pic4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/hamburg-large.jpg">
        </div>
        <h3 class="card-title">Hampshire</h3>
      </div>
    </div>
  </div>

  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <div class="pic1">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/lubeck-tomor-large.jpg">
        </div>
        <h3 class="card-title">Lübeck - tömör</h3>
      </div>
    </div>
    <div class="pic2">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/lubeck-1-large.jpg">
        </div>
        <h3 class="card-title">Lübeck Glas 1</h3>
      </div>
    </div>
    <div class="pic3">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/lubeck-2-large.jpg">
        </div>
        <h3 class="card-title">Lübeck Glas 2</h3>
      </div>
    </div>
    <div class="pic4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/lubeck-large.jpg">
        </div>
        <h3 class="card-title">Lübeck</h3>
      </div>
    </div>
  </div>

  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <div class="pic1">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/berlin-tomor-large.jpg">
        </div>
        <h3 class="card-title">Berlin - tömör</h3>
      </div>
    </div>
    <div class="pic2">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/berlin-1-large.jpg">
        </div>
        <h3 class="card-title">Berlin Glas 1</h3>
      </div>
    </div>
    <div class="pic3">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/berlin-2-large.jpg">
        </div>
        <h3 class="card-title">Berlin Glas 2</h3>
      </div>
    </div>
    <div class="pic4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/berlin-large.jpg">
        </div>
        <h3 class="card-title">Berlin</h3>
      </div>
    </div>
  </div>

  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <div class="pic1">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/wurzburg-tomor-large.jpg">
        </div>
        <h3 class="card-title">Würzburg - tömör</h3>
      </div>
    </div>
    <div class="pic2">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/wurzburg-1-large.jpg">
        </div>
        <h3 class="card-title">Würzburg Glas 1</h3>
      </div>
    </div>
    <div class="pic3">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/wurzburg-2-large.jpg">
        </div>
        <h3 class="card-title">Würzburg Glas 2</h3>
      </div>
    </div>
    <div class="pic4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/wurzburg-large.jpg">
        </div>
        <h3 class="card-title">Würzburg</h3>
      </div>
    </div>
  </div>

  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <div class="pic1">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/kiel-tomor-large.jpg">
        </div>
        <h3 class="card-title">Kiel - tömör</h3>
      </div>
    </div>
    <div class="pic2">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/kiel-1-large.jpg">
        </div>
        <h3 class="card-title">Kiel Glas 1</h3>
      </div>
    </div>
    <div class="pic3">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/kiel-2-large.jpg">
        </div>
        <h3 class="card-title">Kiel Glas 2</h3>
      </div>
    </div>
    <div class="pic4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/kiel-large.jpg">
        </div>
        <h3 class="card-title">Kiel</h3>
      </div>
    </div>
  </div>

  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <div class="pic1">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/hof-tomor-large.jpg">
        </div>
        <h3 class="card-title">Hof - tömör</h3>
      </div>
    </div>
    <div class="pic2">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/hof-2-large.jpg">
        </div>
        <h3 class="card-title">Hof Glas 1</h3>
      </div>
    </div>
    <div class="pic3">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/hof-3-large.jpg">
        </div>
        <h3 class="card-title">Hof Glas 2</h3>
      </div>
    </div>
    <div class="pic4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/hof-large.jpg">
        </div>
        <h3 class="card-title">Hof</h3>
      </div>
    </div>
  </div>

  <div class="row" data-aos="fade-left" data-aos-duration="1000">
    <div class="pic1">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/koln-tomor-large.jpg">
        </div>
        <h3 class="card-title">Köln - tömör</h3>
      </div>
    </div>
    <div class="pic2">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/koln-1-large.jpg">
        </div>
        <h3 class="card-title">Köln Glas 1</h3>
      </div>
    </div>
    <div class="pic3">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/koln-3-large.jpg">
        </div>
        <h3 class="card-title">Köln Glas 2</h3>
      </div>
    </div>
    <div class="pic4">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top" src="assets/images/koln-large.jpg">
        </div>
        <h3 class="card-title">Köln</h3>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
