.szoveg{
  background-color: rgb(235,29,37);
  margin-top: 1%;
  border-radius: 10px;
  overflow: hidden;
  font-size: large;
  display: flex;
  justify-content: center;
}

.row{
  color: rgb(233, 231, 231);
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: nowrap;
  font-size: large;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.detail-btn{
  width: 25%;
  margin-left: 5%;
}

.detail-btn{

}


